---
---

@import "{{site.theme}}";

.page-header {
  background-color: pink;
  background-image: none;
}

.rm-evt {
  border: 1px solid #bbb;
  margin-bottom: 1em;
  padding: 5px;
  box-shadow: 0 2px 5px 1px;
}

.rm-evt-dt {
  width: 90px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  text-align: center;
  background-image: url(/assets/images/heart.svg);
  background-size: 100% 100%;
}

.rm-evt-dt time {
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
}

.rm-evt-desc p:last-child {
  margin-bottom: 0;
}