---
---

@import "{{site.theme}}";

.page-header {
  background-color: pink;
  background-image: none;
}

.rm-evt-dt {
  width: 90px;
  height: 70px;
  text-align: center;
  background-image: url(/assets/images/heart.svg);
  background-size: 100% 100%;
}